
#contactSectionWrapper{
    position:relative;
    height: 100vh;

    #contactInfoContainer {
        position: absolute;
        top:10vh;
        right: 5vw;
        z-index: 1;
        background-color: azure;
        width: 700px;
        height: 500px;
    }

    .map-container{
        width: 98%;
        height: 98vh;
        margin: auto;
    }
}




