#contactSectionWrapper {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #f2f2f2;
  height: 100vh;
  -webkit-transition: background-color 0.3s ease;
  transition: background-color 0.3s ease;
  overflow: hidden;
}

#contactSectionWrapper.dark {
  background: #333333;
  -webkit-box-shadow: inset 0 8px 40px rgba(38, 38, 38, 0.2);
          box-shadow: inset 0 8px 40px rgba(38, 38, 38, 0.2);
}

#contactSectionWrapper #contactInfoContainer {
  position: absolute;
  top: 5vh;
  right: 5vw;
  z-index: 1;
  background-color: rgba(255, 255, 255, 0.8);
  border-radius: 10px;
  padding: 10px;
  width: 800px;
  display: -ms-grid;
  display: grid;
      grid-template-areas: "github github" "email phone" "form form";
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  grid-column-gap: 3px;
  grid-auto-rows: minmax(-webkit-min-content, -webkit-max-content);
  grid-auto-rows: minmax(min-content, max-content);
  -webkit-box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
          box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5), inset 0 4px 4px rgba(255, 255, 255, 0.2), inset 0 -4px 4px rgba(255, 255, 255, 0.2);
}

#contactSectionWrapper #contactInfoContainer.dark {
  background: rgba(51, 51, 51, 0.7);
  -webkit-box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1), 0 -4px 8px rgba(0, 0, 0, 0.1);
}

#contactSectionWrapper #contactInfoContainer .contactInfo {
  display: block;
  color: #333333;
  background-color: white;
  border: 2px dashed #333333;
  border-radius: 10px;
  cursor: pointer;
  -webkit-transition: all 0.1s ease-out;
  transition: all 0.1s ease-out;
  padding: 5px 10px;
  font-size: x-large;
  font-weight: 700;
  display: block;
  text-decoration: none;
  position: relative;
  background-color: rgba(255, 255, 255, 0.9);
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#contactSectionWrapper #contactInfoContainer .contactInfo:hover {
  background: #f2f2f2;
  text-shadow: 0.05em 0.05em 0.05em #b3b3b3;
}

#contactSectionWrapper #contactInfoContainer .contactInfo.dark {
  color: white;
  border-color: white;
  background-color: rgba(51, 51, 51, 0.7);
}

#contactSectionWrapper #contactInfoContainer .contactInfo::before {
  position: relative;
  top: 5px;
  margin-right: 10px;
}

#contactSectionWrapper #contactInfoContainer .contactInfo::after {
  position: absolute;
  top: 9px;
  right: 10px;
}

#contactSectionWrapper #contactInfoContainer .contactInfo.dark::before, #contactSectionWrapper #contactInfoContainer .contactInfo.dark::after {
  -webkit-filter: brightness(5);
          filter: brightness(5);
}

#contactSectionWrapper #contactInfoContainer #contactInfoGithub {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: github;
}

#contactSectionWrapper #contactInfoContainer #contactInfoGithub::before {
  content: url(../../Images/contactSection/github.svg);
}

#contactSectionWrapper #contactInfoContainer #contactInfoGithub::after {
  content: url(../../Images/contactSection/door.svg);
}

#contactSectionWrapper #contactInfoContainer #contactInfoEmail {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: email;
}

#contactSectionWrapper #contactInfoContainer #contactInfoEmail::before {
  content: url(../../Images/contactSection/email.svg);
}

#contactSectionWrapper #contactInfoContainer #contactInfoEmail::after {
  content: url(../../Images/contactSection/duplicate.svg);
}

#contactSectionWrapper #contactInfoContainer #contactInfoPhone {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: phone;
}

#contactSectionWrapper #contactInfoContainer #contactInfoPhone::before {
  content: url(../../Images/contactSection/phone.svg);
}

#contactSectionWrapper #contactInfoContainer #contactInfoPhone::after {
  content: url(../../Images/contactSection/duplicate.svg);
}

#contactSectionWrapper #contactInfoContainer form {
  position: relative;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 2;
  grid-area: form;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 50% 50%;
      grid-template-columns: 50% 50%;
  grid-row-gap: 10px;
  border: 2px dashed #333333;
  border-radius: 10px;
  padding: 10px 10px;
  color: #000050;
  background-color: rgba(255, 255, 255, 0.3);
}

#contactSectionWrapper #contactInfoContainer form.dark {
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
  border-color: white;
}

#contactSectionWrapper #contactInfoContainer form #loaderContainer {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: white;
  opacity: 0.9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#contactSectionWrapper #contactInfoContainer form h1 {
  margin: 3px auto;
  grid-column: 1/-1;
  font-family: monospace;
  font-size: 6vh;
}

#contactSectionWrapper #contactInfoContainer form input,
#contactSectionWrapper #contactInfoContainer form textarea {
  border: 2px solid darkblue;
  border-radius: 10px;
  padding: 0 20px;
  font-size: larger;
  height: 40px;
  width: 100%;
}

#contactSectionWrapper #contactInfoContainer form textarea {
  resize: none;
  padding: 10px 20px;
  height: 30vh;
  grid-column: 1/ -1;
}

#contactSectionWrapper #contactInfoContainer form button {
  grid-column: 1/ -1;
  font-size: xx-large;
  font-weight: 900;
  background-color: white;
  border: darkblue solid 3px;
  border-radius: 50px;
  color: darkblue;
  cursor: pointer;
  margin: 10px 0px;
  -webkit-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}

#contactSectionWrapper #contactInfoContainer form button:hover {
  background-color: darkblue;
  color: white;
}

#contactSectionWrapper #contactInfoContainer form button.dark {
  border-color: white;
  background-color: rgba(51, 51, 51, 0.7);
  color: white;
}

#contactSectionWrapper #contactInfoContainer form button.dark:hover {
  background-color: white;
  color: #000033;
}

#contactSectionWrapper #contactInfoContainer form label:first-of-type {
  margin-right: 10px;
}

#contactSectionWrapper #contactInfoContainer form label {
  position: relative;
}

#contactSectionWrapper #contactInfoContainer form label::before {
  position: absolute;
  font-size: larger;
  color: rgba(0, 0, 0, 0.5);
  top: 9px;
  left: 17px;
  background-color: white;
  padding: 0px 3px;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  border-radius: 10px;
}

#contactSectionWrapper #contactInfoContainer form label:focus-within::before,
#contactSectionWrapper #contactInfoContainer form label.active::before {
  -webkit-transform: translateY(-16px);
          transform: translateY(-16px);
  font-size: small;
  border-radius: 20px;
}

#contactSectionWrapper #contactInfoContainer form label[for=name]::before {
  content: "Name";
}

#contactSectionWrapper #contactInfoContainer form label[for=email]::before {
  content: "Email";
}

#contactSectionWrapper #contactInfoContainer form label.dark:focus-within::before,
#contactSectionWrapper #contactInfoContainer form label.dark.active::before {
  background: none;
  color: white;
  -webkit-transform: translateY(-24px);
          transform: translateY(-24px);
}

#contactSectionWrapper .map-container {
  width: 98%;
  height: 98vh;
  margin: auto;
}

@media screen and (max-width: 1024px) {
  #contactSectionWrapper {
    height: 92vh;
  }
  #contactSectionWrapper #contactInfoContainer {
    display: block;
    width: 90vw;
  }
  #contactSectionWrapper #contactInfoContainer .contactInfo {
    margin-bottom: 3px;
    overflow: hidden;
    padding-right: 50px;
  }
  #contactSectionWrapper #contactInfoContainer .contactInfo::before {
    position: relative;
    top: 5px;
    margin-right: 5px;
  }
  #contactSectionWrapper #contactInfoContainer .contactInfo::after {
    position: absolute;
    top: 9px;
    right: 5px;
  }
}
/*# sourceMappingURL=ContactSection.css.map */