@import "../Variables/variables.scss";

$avatarUrl: "../../Images/EsongAvatar.jpeg";

$nav--background--light: $main_color_lightMode;
$nav--background--dark: $main_color_darkMode;



$nav--toggleLightDarkMode--width: 50px;
$nav--toggleLightDarkMode--height: 25px;
$nav--toggleLightDarkMode--borderRadius: 25px;

$nav--indicatorLightDarkMode--width: 25px;
$nav--indicatorLightDarkMode--movementRange: $nav--toggleLightDarkMode--width - $nav--indicatorLightDarkMode--width;


nav {
    background-color: $nav--background--light;
    height:100vh;
    position: sticky;
    top:0;
    text-align: center;
    align-items: center;
    transition: all 0.5s ease-out;
    z-index: 1;

    &.dark {
        background-color: $nav--background--dark;
        color: $nav--background--light;
    }

    .avatar {
        margin: 40px auto;
        height: 150px;
        width: 150px;
        border-radius: 50%;
        background-image: url($avatarUrl);
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }

    #name {
        margin: 20px;

    }

    ul {
        padding-inline-start: 0px;
        list-style-type: none;


        li {
            a {
                display: inline-block;
                align-items: center;
                text-decoration: none;
                width: 80%;
                height: 40px;
                line-height: 40px;
                color: #222;

                &:hover {
                    color: $button_color_blue;
                    // filter: invert(1);
                    // mix-blend-mode: difference;
                    text-decoration: underline;
                }

                &.dark {
                    color: $nav--background--light;

                    // &:hover {
                    //     color: hsl(0, 100%, 35%)
                    // }
                }

            }
        }
    }

    #toggleLightDarkMode {
        display: inline-block;
        margin: 20px auto;
        position: relative;
        width: $nav--toggleLightDarkMode--width;
        height: $nav--toggleLightDarkMode--height;
        border-radius: $nav--toggleLightDarkMode--borderRadius;
        background-color: #fff;
        transition: 0.5s;
        cursor: pointer;
        box-shadow: inset 0 2px 60px rgba(0, 0, 0, 0.1),
            inset 0 2px 8px rgba(0, 0, 0, 0.1),
            inset 0 -4px 8px rgba(0, 0, 0, 0.05);

        #indicatorLightDarkMode {
            position: absolute;
            top: 0;
            left: 0;
            width: $nav--indicatorLightDarkMode--width;
            height: $nav--toggleLightDarkMode--height;
            background-color: linear-gradient(to bottom, #eaeaea, #f9f9f9);
            border-radius: $nav--toggleLightDarkMode--borderRadius;
            transform: scale(0.9);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
                inset 0 4px 4px rgba(255, 255, 255, 1),
                inset 0 -4px 4px rgba(255, 255, 255, 1);
            transition: 0.5s;
        }

        &.dark {
            background: rgb(50, 50, 50);
            box-shadow: inset 0 8px 60px rgba(0, 0, 0, 0.1),
                inset 0 8px 8px rgba(0, 0, 0, 0.1),
                inset 0 -4px 4px rgba(0, 0, 0, 0.1);

            #indicatorLightDarkMode {
                left: $nav--indicatorLightDarkMode--movementRange;
                background-color: linear-gradient(to bottom, #444, $nav--background--dark);
                box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                    inset 0 4px 4px rgba(255, 255, 255, 0.2),
                    inset 0 -4px 4px rgba(255, 255, 255, 0.2);
            }
        }
    }
}

@media screen and (min-width: 1024px) {
    nav {
        box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1),
            0 4px 4px rgba(255, 255, 255, 1),
            inset 0 -4px 4px rgba(255, 255, 255, 1);

        &.dark {
            box-shadow: 0 8px 40px rgba(0, 0, 0, 0.5),
                0 4px 4px rgba(255, 255, 255, 0.2);
        }
    }
}

@media screen and (max-width: 1024px) {
    nav {
        width: 100vw;
        height: $nav--responsive--height;
        position: sticky;
        top: 0;
        display: flex;
        justify-content: space-between;
        vertical-align: middle;
        box-shadow: 0 8px 8px rgba(0, 0, 0, 0.15);


        #navLinkContainer {
            position: absolute;
            width: 100vw;
            height: $nav--responsive--linkContainer--height;
            top: $nav--responsive--height;
            transition: 0.5s all ease;
            left: -100vw;

            background-color: $nav--background--light;

            &.active {
                transform: translateX(100vw);
            }

            &.dark {
                background-color: $nav--background--dark;

            }
        }

        #navButton {
            cursor: pointer;
            margin: 0px 25px;
        }

        #toggleLightDarkMode {
            margin: 0px 25px;
        }
    }

}