$nav--responsive--height: 8vh;
$nav--responsive--linkContainer--height: 100vh - $nav--responsive--height;

$main_color_lightMode:hsl(0, 0%, 95%);
$main_color_darkMode:hsl(0, 0%, 20%);

$main_section_height: 100vh;
$main_section_responsive_height: 92vh;

$button_color_blue: hsl(200, 100%, 50%);