@import "../Variables/variables.scss";

$spinningTime: 1s;
$mainSection1Wrapper--height: $main_section_height;
$mainSection1Wrapper--responsive--height: $main_section_responsive_height;
$mainSection1Background--light: linear-gradient(140deg, $main_color_lightMode 50%, $main_color_darkMode 50%);
$mainSection1Background--dark: linear-gradient(140deg, $main_color_lightMode 50%, $main_color_darkMode 50%);



.mainSection1Wrapper {

    height: $mainSection1Wrapper--height;
    position: relative;
    overflow: hidden;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .mainSection1Background {
        z-index: -20;
        position: absolute;
        background: $mainSection1Background--light;
        //top: -5%;
        width: 200%;
        height: $mainSection1Wrapper--height * 200;
        transition: all $spinningTime ease;

        &.dark {
            background: $mainSection1Background--dark;
        }
    }


    #mainSection1TextImageContainer {
        display: grid;
        grid-template-columns: auto 50%;


        #mainSection1Text {
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            filter: invert(1);
            mix-blend-mode: difference;


            h1 {
                width: 80%;
                color:dark;
                font-size: 5vw;
                height: fit-content;
                margin: 0 auto 30px auto;
            }

            a {

                font-size: 30px;
                font-weight: 700;
                text-decoration: none;
                display: inline-block;
                width: fit-content;
                margin: 0 auto;
                color: $button_color_blue;
                border: 5px $button_color_blue solid;
                border-radius: 25px;
                padding: 10px 30px;
                //filter: invert(1);

                &:hover {
                    background-color: $button_color_blue;
                    color: rgb(255, 255, 255);
                }
            }

            // background: linear-gradient(to right, #ff0000 50%, #00c8ff 50%);
            //  -webkit-background-clip: text;
            //  -webkit-text-fill-color: transparent;
        }
    }

}

#mainSection1Svg {
    margin:auto;
    width: 85%;
    filter: invert(1);
    transform: translateY(90);
    mix-blend-mode: difference;
}

@media screen and (min-width: 1025px){
    .mainSection1Wrapper{
        .mainSection1Background{
            top: -5%;
            left: 0;
            width: 125%;
            height: $mainSection1Wrapper--height *1.25;

        }
    }
}

@media screen and (max-width: 1024px) {
    .mainSection1Wrapper {
        height: $mainSection1Wrapper--responsive--height;

        #mainSection1TextImageContainer {
            display: grid;
            grid-template-columns: auto;

            #mainSection1Text {
                a {
                    font-size: 30px;
                }

                h1 {
                    width: 60%;
                    font-size: 80px;
                    text-align: left;
                }
            }

        }
    }



}