.mainSection1Wrapper {
  height: 100vh;
  position: relative;
  overflow: hidden;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.mainSection1Wrapper .mainSection1Background {
  z-index: -20;
  position: absolute;
  background: linear-gradient(140deg, #f2f2f2 50%, #333333 50%);
  width: 200%;
  height: 20000vh;
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.mainSection1Wrapper .mainSection1Background.dark {
  background: linear-gradient(140deg, #f2f2f2 50%, #333333 50%);
}

.mainSection1Wrapper #mainSection1TextImageContainer {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: auto 50%;
      grid-template-columns: auto 50%;
}

.mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-filter: invert(1);
          filter: invert(1);
  mix-blend-mode: difference;
}

.mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text h1 {
  width: 80%;
  color: dark;
  font-size: 5vw;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  margin: 0 auto 30px auto;
}

.mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text a {
  font-size: 30px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: 0 auto;
  color: #00aaff;
  border: 5px #00aaff solid;
  border-radius: 25px;
  padding: 10px 30px;
}

.mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text a:hover {
  background-color: #00aaff;
  color: white;
}

#mainSection1Svg {
  margin: auto;
  width: 85%;
  -webkit-filter: invert(1);
          filter: invert(1);
  -webkit-transform: translateY(90);
          transform: translateY(90);
  mix-blend-mode: difference;
}

@media screen and (min-width: 1025px) {
  .mainSection1Wrapper .mainSection1Background {
    top: -5%;
    left: 0;
    width: 125%;
    height: 125vh;
  }
}

@media screen and (max-width: 1024px) {
  .mainSection1Wrapper {
    height: 92vh;
  }
  .mainSection1Wrapper #mainSection1TextImageContainer {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: auto;
        grid-template-columns: auto;
  }
  .mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text a {
    font-size: 30px;
  }
  .mainSection1Wrapper #mainSection1TextImageContainer #mainSection1Text h1 {
    width: 60%;
    font-size: 80px;
    text-align: left;
  }
}
/*# sourceMappingURL=MainSection1.css.map */